language: node_js
# Test against all versions of node with default phantomjs on Travis CI
node_js:
  - "0.11"
  - "0.10"
  - "0.8"
env:
  - PHANTOMJS_VERSION="TRAVIS"

# Additionally
matrix:
  # Ignore 0.11 test failures
  allow_failures:
    - node_js: "0.11"
  # Test against different phantomjs versions with node@0.10
  #   and test for spaces in filepath regression
  include:
    - node_js: "0.10"
      env: PHANTOMJS_VERSION="1.9.2"
    - node_js: "0.10"
      env: PHANTOMJS_VERSION="1.9.8"
    - node_js: "0.10"
      env: PHANTOMJS_VERSION="TRAVIS" TEST_SPACES=1


before_install:
  # Upgrade `npm` to avoid semver issues
  - npm install npm@1.x.x -g

install:
  # For space tests, move the directory to one with spaces
  - 'if test -n "$TEST_SPACES"; then cd .. && mv phantomjssmith "space phantomjssmith" && cd "space phantomjssmith"; fi'

  # Set up our version of PhantomJS
  - ./test/install.sh

  # Output phantomjs version
  - phantomjs --version

  # Install dependencies
  - npm install

notifications:
  email: false
