language: node_js
node_js:
  - "0.11"
  - "0.10"
  - "0.8"
env:
  - PHANTOMJS_VERSION="1.9.1"
  - PHANTOMJS_VERSION="latest"
install:
  # Set up PhantomJS version
  - ./test/setup.sh

  # Install dependencies
  - npm install

notifications:
  email: false
